@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media screen and (min-width: 1024px) {
    .animate-slide {
      animation: slide 2s infinite;
    }  
  }
  
  @keyframes slide {
    from {
      top: -100%;
    }
    
    to {
      top: 100%;
    }
  }

  @keyframes slide {
    from {
      top: -100%;
    }
    
    to {
      top: 100%;
    }
  }